body{

    justify-items: center;
}

.page{
    width: fit-content;
    border-radius: 1rem;
    background-color: #2f3e46;
    color: #cad2c5;
    text-align: center;
    flex-wrap: wrap;
}

.container{
    flex-wrap: wrap;
    width: 400px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.box{
    height: 120px;
    margin: 4px;
    font-size: 8vmin;
    width: 120px;
    border-radius: 1rem;
    border: none;
    box-shadow: rgba(0px ,0px ,0px ,0.5px cyan);
    background-color: #52796f;
    color: black;

}